<div class="ui container">
    <!-- Make sure all your bars are the first things in your <body> -->
    <header class="bar bar-nav">
        <h1 id="activity_type" class="title"></h1>
    </header>

    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">
        <div class="content-padded">
            <h3 id="title" class="ui header"></h3>
            <h4 id="tematic_area" class="ui header"></h4>
            <p><i class="clock icon"></i><span id="day"></span> - <span id="from_time"></span> a <span
                    id="to_time"></span></p>
            <p><i class="marker icon"></i><span id="salon"></span></p>

            <h5 class="ui header">Integrantes</h5>
            <ul id="lecturers" class="table-view">
                <!--<li class="table-view-cell">
                            <a class="navigate-right">
                                Mariana Eugenia Aguad
                            </a>
                        </li>-->
            </ul>
            <div class="ui vertical  fluid buttons">
                <button class="btn btn-primary btn-block">Ver Abstract</button>
                <button class="btn btn-positive btn-block">Agregar a mi congreso</button>
            </div>
        </div>
    </div>
    <nav class="bar bar-tab">
        <img class="ui image" style="padding: 2%;" src="./img/sponsor_footer.png">
    </nav>
</div>

</div>