<div class="ui container">
    <!-- Make sure all your bars are the first things in your <body> -->
    <header class="bar bar-nav">
        <h1 class="title">Ubicacion de salas</h1>
    </header>

    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">
        <img class="ui fluid image" style="min-width: 100%; height: auto;" src="./img/salas1.jpg">
        <img class="ui fliud image" src="./img/salas2.jpg">
        <nav class="bar bar-tab">
            <img class="ui image" style="padding: 2%;" src="./img/sponsor_footer.png">
        </nav>
    </div>
</div>