<div class="ui container">
    <header class="bar bar-nav">
        <a class="icon icon-left-nav pull-left" href="#inicio"></a>
        <h1 class="title">Programa cientifico</h1>
        <button class="btn pull-right">
            <i class="fa fa-filter"></i>
            Filtrar
        </button>
    </header>
    <div class="bar bar-standard bar-header-secondary">
        <div class="segmented-control">
            <a id="showDay1" class="control-item active">Mie 24</a>
            <a id="showDay2" class="control-item">Jue 25</a>
            <a id="showDay3" class="control-item">Vie 26</a>
            <a id="showDay4" class="control-item">Sab 27</a>
        </div>
    </div>
    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">
        <div class="ui bottom attached tab segment active" data-tab="first">
            <ul id="day1" class="table-view">

            </ul>
        </div>
        <div class="ui bottom attached tab segment" data-tab="second">
            <ul id="day2" class="table-view">

            </ul>
        </div>
        <div class="ui bottom attached tab segment" data-tab="third">
            <ul id="day3" class="table-view">

            </ul>
        </div>
        <div class="ui bottom attached tab segment" data-tab="fourth">
            <ul id="day4" class="table-view">

            </ul>
        </div>
    </div>
    <nav class="bar bar-tab">
        <img class="ui image" style="padding: 2%;" src="./img/sponsor_footer.png">
    </nav>

</div>