<div class="ui borderless menu">
    <div class="menu">
        <a href="calendar" class="item">
            <i class="icon large chevron left"></i>
        </a>
    </div>
    <div class="right menu">
        <a class="ui item">
            <i class="icon large cog"></i>
        </a>
        <a href="login" class="ui item">
            <i class="large sign out alternate icon"></i>
        </a>
    </div>
</div>

<div class="ui middle aligned left aligned grid">
    <div class="column">

        <div class="ui  borderless secondary menu">
            <div class="header item">
                <h2 class="ui header">
                    <div class="content" id="header_text">
                        Visitas 13 sept
                    </div>
                </h2>
            </div>
            <div class="right menu">
                <div class="item">
                    <div id="nueva_visita" class="ui primary icon button">
                        <i class="icon add"></i>
                        Nueva Visita
                    </div>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="ui segment">
            <div class="ui relaxed divided list">
                <div class="item">
                    <div class="right floated content">
                        <button class="ui positive icon button editar_visita">
                            <i class="icon edit"></i>
                        </button>
                        <button class="ui negative icon button borrar_visita">
                            <i class="icon delete"></i>
                        </button>
                    </div>
                    <i class="large user alternate middle aligned icon"></i>
                    <div class="content">
                        <div class="header">Juan Perez</div>
                        <div class="description">8:30 14:30hs. <b>(2hs.)</b></div>
                    </div>
                </div>
                <div class="item">
                    <div class="right floated content">
                        <button class="ui positive icon button editar_visita">
                            <i class="icon edit"></i>
                        </button>
                        <button class="ui negative icon button borrar_visita">
                            <i class="icon delete"></i>
                        </button>
                    </div>
                    <i class="large user alternate middle aligned icon"></i>
                    <div class="content">
                        <div class="header">Gonzalo Martinez</div>
                        <div class="description"> 16:30 - 20:30 <b>(4hs.)</b></div>
                    </div>
                    <a class="ui orange circular label">Superposicion horaria</a>
                </div>
            </div>
        </div>


    </div>
</div>

<div id="visita_modal_dlg" class="ui tiny modal">
    <i class="close icon"></i>
    <div class="header">
        Nueva / Editar Visita
    </div>
    <div class="content">
        <div class="ui two column grid form">
            <div class="column two field">
                <div class="ui calendar" id="time_calendar_desde">
                    <div class="ui input left icon">
                        <i class="time icon"></i>
                        <input type="time" placeholder="Desde">
                    </div>
                </div>
            </div>
            <div class="column two  field">
                <div class="ui calendar" id="time_calendar_hasta">
                    <div class="ui input left icon">
                        <i class="time icon"></i>
                        <input type="time" placeholder="Hasta">
                    </div>
                </div>
            </div>
        </div>
        <div class="ui centered grid">
            <div class="ui statistic">
                <div class="label">
                    Horas
                </div>
                <div class="value">
                    4
                </div>
            </div>
            <div class="row"></div>
        </div>

    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancelar
        </div>
        <div class="ui positive button">
            Guardar
        </div>
    </div>
</div>