<div class="ui borderless menu">
    <div class="header item">
        <i class="large calendar alternate outline icon"></i>
        Sistema Administracion Horaria
    </div>
    <div class="right menu">
        <a class="ui item">
            <i class="icon large cog"></i>
        </a>
        <a class="ui item">
            <i class="sign out large alternate icon"></i>
        </a>
    </div>
</div>

<div class="container selpac">
    <div class="field">
        <h3>Seleccione un paciente</h3>
        <select id="selectpac" class="ui fluid dropdown">
            <option selected Value="0">Seleccione</option>
            <option Value="1">Juan Perez</option>
            <option Value="2">Gonzalo Martinez</option>
            <option Value="3">Damian Alejandro Czajkovski</option>
        </select>
    </div>
</div>
<div class="ui middle aligned center aligned grid calendario">
    <div class="column">
        <div class="ui header">Seleccione una fecha</div>
        <div class="ui calendar" id="inline_calendar"></div>
    </div>
</div>
<div class="ui middle aligned center aligned grid calendario tipotarea">
    <div style="margin: 10px;" class="column">
        <div class="ui calendar" id="inline_calendar"></div>
        <div id="sumario" class="ui segment">
            <h5>Total de horas: 63hs Total: $23.940,00</h5>
            <div id="confirma_visita" class="ui icon red fluid  button">
                Confirmar visitas del mes
                <i class="icon check"></i>
            </div>
            <br>
            <div id="presentar_factura" class="ui blue fluid  button">
                Presentar factura
                <i class="icon check"></i>
            </div>
            <br>
            <div id="presentar_informe" class="ui green fluid  button">
                Cargar informe
                <i class="icon check"></i>
            </div>
        </div>
    </div>
</div>

<div id="importante_modal_dlg" class="ui tiny modal">
    <div class="header">
        Importante
    </div>
    <div class="content">
        <div class="ui error message">
            <div class="header">
                Aviso
            </div>
            <ul class="list">
                <li>
                    <a href="calendar">
                        No se realizo la presentacion de horas del paciente Juan Perez en el mes de Septiembre 2020.
                    </a>
                </li>
                <li>
                    <a href="calendar">
                        No se realizo la presentacion del informe del paciente Gonzalo Romer en el mes de Septiembre
                        2020.
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="actions">
        <div class="ui negative button">
            Entendido
        </div>
    </div>
</div>

<div id="presentacion_modal_dlg" class="ui tiny modal">
    <div class="header">
        Presentacion Horaria
    </div>
    <div class="content">
        <h3>Se realizara la presentacion horaria correspondiente al mes de Octubre 2020.</h3>
        <h3>Se cuenta con un total de 6 horas repartidas entre 40hs. dias de semana y 23hs. fin de semana</h3>
        <h3>Debera realizar la factura con un importe de:</h3>
        <h2>$23.940,00</h2>
        <div class="ui error message">
            <div class="header">
                Aviso
            </div>
            <div class="content">
                <p>Se realizara la presentacion horaria, una vez confirmada no se podran actualizar ni editar las
                    visitas del mes.</p>
                <p>Para pedir una rectificacion debera comunicarse cone el administrador.</p>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui positive button">
            Confirmar
        </div>
    </div>
</div>

<div id="factura_modal_dlg" class="ui tiny modal">
    <div class="header">
        Carga de factura
    </div>
    <div class="content">
        <h3>La factura correspondiente a Octubre 2020 debera tener un importe de:</h3>
        <h2>$23.940,00</h2>
        <button class="ui huge blue button">Seleccionar archivo</button>
        <div class="ui warning message">
            <div class="header">
                Nota
            </div>
            <div class="content">
                <p>La carga de la factura se puede realizar varias veces pero se podra confirmar una sola vez.</p>
                <p>En caso que se necesite volver a cargar la factura despues de confirmar debera comunicarse cone el
                    administrador para habilitar la recarga.</p>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui positive button">
            Confirmar
        </div>
    </div>
</div>

<div id="informe_modal_dlg" class="ui tiny modal">
    <div class="header">
        Carga de informe - Octubre 2020
    </div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <label>Ingresar informe del paciente.</label>
                <textarea></textarea>
            </div>
        </div>

        <div class="ui warning message">
            <div class="header">
                Nota
            </div>
            <div class="content">
                <p>En caso que se necesite volver a cargar el informe debera comunicarse cone el administrador para
                    habilitar la carga.</p>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui positive button">
            Confirmar
        </div>
    </div>
</div>