<div class="ui container">

    <!-- Make sure all your bars are the first things in your <body> -->
    <header class="bar bar-nav">
        <h1 class="title">Congreso Argentino de Psiquiatria</h1>
    </header>

    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">
        <div class="content-padded">

            <p>APSA XXXIV Congreso Argentino de Psiquiatria</p>
            <img src="./img/Logo.png">
            <ul class="table-view">
                <li class="table-view-cell">
                    <a class="push-right" href="#autoridades">
                        <i class="fas fa-book"></i>
                        <strong>Autoridades</strong>
                    </a>
                </li>
                <li class="table-view-cell">
                    <a class="push-right" href="#sede">
                        <i class="fas fa-hotel"></i>
                        <strong>Sede y Datos Generales</strong>
                    </a>
                </li>
                <li class="table-view-cell">
                    <a class="push-right" href="#ubicacion">
                        <i class="fas fa-map-marker-alt"></i>
                        <strong>Ubicacion de Salas</strong>
                    </a>
                </li>
                <li class="table-view-cell">
                    <a class="push-right" href="#micongreso">
                        <i class="fas fa-star"></i>
                        <strong>Mi Congreso</strong>
                    </a>
                </li>
                <li class="table-view-cell">
                    <a class="push-right" href="#disertantes">
                        <i class="fas fa-users"></i>
                        <strong>Disertantes</strong>
                    </a>
                </li>
                <li class="table-view-cell">
                    <a class="push-right" href="#pcientifico">
                        <i class="fas fa-calendar"></i>
                        <strong>Programa cientifico</strong>
                    </a>
                </li>
                <li class="table-view-cell">
                    <a class="push-right" href="#sponsor">
                        <i class="fas fa-external-link-alt"></i>
                        <strong>Linea Psiquiatrica Baliarda</strong>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>