<div class="ui container">
    <header class="bar bar-nav">
        <a class="icon icon-left-nav pull-left" href="#inicio"></a>
        <h1 class="title">Autoridades</h1>
    </header>

    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">
        <div class="content-padded">
            <h3 class="ui header">Autoridades del XXXIV Congreso Argentino de Psiquiatría</h3>
            <h4 class="ui header">Presidente del congreso</h4>
            <p>Juan Cristóbal Tenconi </p>
            <h4 class="ui header">Vice-Presidente del Congreso</h4>
            <p>José Domínguez (Presidente de la Asociación de Psiquiatras de Santa Fé)</p>
            <h4 class="ui header">Presidente de Honor del Congreso</h4>
            <p>Raúl Morello</p>

            <h3 class="ui header">Comité Organizador</h3>

            <h4 class="ui header">Coordinación General</h4>

            <p>Juan Cristóbal Tenconi

                <h4 class="ui header">Co-Coordinación General</h4>

                <p>Daniel Matusevich

                    <p>Analía Ravenna

                        <h4 class="ui header">Integrantes del Comité Organizador:</h4>
                        <p>Mario Carande</p>
                        <p>Diego Costa</p>
                        <p>Julieta Falicoff</p>
                        <p>Adriana Fernández Busse</p>
                        <p>Nora Leal Marchena</p>
                        <p>Martín Mazzoglio y Nabar</p>
                        <p>Eliana Montuori</p>
                        <p>Graciela B. Onofrio</p>
                        <p>Diego Rodriguez</p>
                        <p>Laura Sobredo</p>
                        <p>Ana Vaernet</p>

                        <h4 class="ui header">Prensa y Difusión</h4>

                        <p>Verónica Mora Dubuc</p>
                        <p>Laura Orsi</p>

                        <h4 class="ui header">Coordinación Operativa</h4>

                        <p>Jorge Kuper</p>
                        <p>Jorge Tagliero</p>

                        <h4 class="ui header">Jurado del Premio a Mejor Comunicación Cientifica APSA 2019</h4>

                        <h4 class="ui header">Presidente del Jurado:</h4>

                        <p>Rodolfo Zaratiegui</p>

                        <h4 class="ui header">Integrantes:</h4>

                        <p>Sara Amores</p>
                        <p>María de las Mercedes Baccaro</p>
                        <p>Susana Calero</p>
                        <p>Guillermo Dorado</p>
                        <p>Andrés Ferdman</p>
                        <p>Marcela Fernández</p>
                        <p>Eduardo Kalina</p>
                        <p>Eduardo Leiderman</p>
                        <p>Beatriz Moyano</p>
                        <p>Pablo Rozic</p>


                        <h4 class="ui header">Jurado del Premio a Mejor Póster APSA 2019</h4>

                        <h4 class="ui header">Presidente del Jurado</h4>

                        <p>Norberto Conti</p>
                        <p>Integrantes</p>
                        <p>Guillermina Berkunsky</p>
                        <p>Néstor Berlanda</p>
                        <p>Eduardo Burga Montoya</p>
                        <p>Rafael Groisman</p>
                        <p>Mariana Lagos</p>
                        <p>Liliana Moneta</p>
                        <p>Oscar Olego</p>
                        <p>Sebastían Romero Arena</p>
                        <p>Juan Carlos Turnes</p>
        </div>

        <nav class="bar bar-tab">
            <img class="ui image" style="padding: 2%;" src="./img/sponsor_footer.png">
        </nav>
    </div>
</div>