<div class="ui container">

    <div id="login_center" class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui header">
                <div class="content">
                    Bienvenido
                </div>
            </h2>
            <form class="ui large form">
                <div class="ui basic stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="email" placeholder="E-mail" autocomplete="off">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Contrse&ntilde;a">
                        </div>
                    </div>
                    <a class="ui fluid large primary submit button" href="#calendar">Ingresar</a>

                    <div class="ui error message">
                        <ul class="list">
                            <li>You can now have cover images on blog pages</li>
                            <li>Drafts will now auto-save while writing</li>
                        </ul>
                    </div>
                </div>

            </form>

            <div class="ui message">
                ¿Olvido sun contrase&ntilde;a? <a href="#">Recuperar</a>
            </div>
        </div>
    </div>

</div>